
{% extends "layout.html"%}
{% block content %}
    <div class="parent">  
        <div class="child">
            <img src="{{url_for('static', filename='assets/pics/pic8.jpg')}}" alt="">
        </div>
        <div class="child">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit. Hic et perferendis esse quas cumque ducimus, ullam, consequuntur repudiandae est perspiciatis id rem cupiditate, 
                ea inventore reiciendis nihil sit ratione fugiat.</p>
        </div>
    </div> 
{% endblock %}