{% extends "layout.html" %}
<br><br><br><br><br>
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Login</legend>
      <div class="form-group">
        {{ form.email.label }} {{ form.email }}
      </div>
      <div class="form-group">
        {{ form.password.label }} {{ form.password }}
      </div>
    </fieldset>
    <div class="form-group" id="submit">
      {{ form.submit }}
    </div>
  </form>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
    Do not have an account?
    <a class="ml-2" href="{{ url_for('sign_up') }}">Sign Up</a>
  </small>
</div>
{% endblock %}
