{% extends "layout.html" %}

<br><br><br><br><br>

{% block content %}
<div class="content-section">

  <!-- Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="flash-messages">
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}
  <!-- End of Flash Messages -->

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join Today</legend>
      <div class="form-group">
        {{ form.fullname.label }} {{ form.fullname }}
      </div>
      <div class="form-group">
        {{ form.username.label }} {{ form.username }}
      </div>
      <div class="form-group">
        {{ form.email.label }} {{ form.email }}
      </div>
      <div class="form-group">
        {{ form.password.label }} {{ form.password }}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label }} {{ form.confirm_password }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit }}
    </div>
  </form>
</div>

<div class="border-top pt-3">
  <small class="text-muted">
    Already have an account?
    <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
  </small>
</div>
{% endblock %}
